<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="C:\NLogError\NLog.log">

    <targets>
        <target xsi:type="File"
            name="file"
            fileName="Logs/NetDemoApi/NetDemoApiLog.txt"
            archiveFileName="Logs/NetDemoApi/NetDemoApiLog.{#}.txt"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd" />
    </targets>

    <rules>
        <logger name="*" minLevel="Info" writeTo="file"/>
    </rules>
</nlog>
